designs/server/services/connectToDB.json
[
    {
        "id": "SSD_SERVICE_ID_sd_bpnyOX6cbRmRVkRN",
        "type": "tab",
        "createdDate": "2022-07-20T13:25:04.283Z",
        "label": "connectToDB",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "connectToDB",
        "relativeParentPath": ""
    },
    {
        "id": "sd_XEeiVlDrWmnibRSK",
        "type": "HttpIn",
        "z": "SSD_SERVICE_ID_sd_bpnyOX6cbRmRVkRN",
        "viewType": "server",
        "nodeType": "start",
        "name": "",
        "path": "get-all-artist",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "get",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "httpOptions": {
            "get-all-artist": {
                "get": {
                    "summary": "",
                    "description": "",
                    "consumes": [],
                    "produces": [],
                    "parameters": [],
                    "responses": {}
                }
            }
        },
        "uploadFileOptions": {},
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "category": "HTTP",
        "x": 140,
        "y": 120,
        "wires": [
            [
                "sd_w1zZseXALO8ATi9T"
            ]
        ],
        "__ssdTypeInputs__": {
            "uploadpath": {
                "type": "str",
                "value": "",
                "nullable": "true",
                "nullableValue": "",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "connectToDB",
        "functionName": "sd_XEeiVlDrWmnibRSK"
    },
    {
        "id": "sd_305srgDOKCI181Ds",
        "type": "HttpOut",
        "z": "SSD_SERVICE_ID_sd_bpnyOX6cbRmRVkRN",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "headers": {},
        "responseBody": {
            "type": "bh.local",
            "value": "result",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "num",
            "value": 200,
            "ssd_typedInputField": true
        },
        "responseType": "obj",
        "responseMapping": {
            "status": 200,
            "obj": "bh.local.result",
            "send": "bh.local.result"
        },
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_305srgDOKCI181Ds",
        "category": "HTTP",
        "x": 440,
        "y": 120,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true,
        "serviceName": "connectToDB"
    },
    {
        "id": "sd_nnPtRTfPszlGfGdq",
        "type": "Mongodb",
        "z": "SSD_SERVICE_ID_sd_bpnyOX6cbRmRVkRN",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "databaseConfig": "sd_JoUpTYPvdvSvR3fO",
        "collection": "bh.local.collection",
        "options": "",
        "resultMapping": "bh.local.result",
        "operation": "find",
        "argumentArray": [
            "query"
        ],
        "aggregate": "",
        "operations": "",
        "query": "bh.local.query",
        "fieldOrSpec": "",
        "filter": "",
        "key": "",
        "docId": "",
        "indexName": "",
        "replacement": "",
        "update": "",
        "xAxis": "",
        "yAxis": "",
        "indexes": "",
        "docs": "",
        "document": "",
        "newName": "",
        "doc": "",
        "filePath": "",
        "fileName": "",
        "pipeline": "",
        "functionName": "sd_nnPtRTfPszlGfGdq",
        "category": "Storage",
        "x": 360,
        "y": 120,
        "wires": [
            [
                "sd_305srgDOKCI181Ds"
            ]
        ],
        "__ssdTypeInputs__": {
            "collection": {
                "type": "bh.local",
                "value": "collection",
                "constant": false
            },
            "options": {
                "type": "bh",
                "value": "",
                "nullable": "true",
                "constant": false
            },
            "resultMapping": {
                "type": "bh.local",
                "value": "result",
                "constant": false
            },
            "query": {
                "type": "bh.local",
                "value": "query",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true,
        "serviceName": "connectToDB"
    },
    {
        "id": "sd_w1zZseXALO8ATi9T",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_bpnyOX6cbRmRVkRN",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local.collection = 'art';\nbh.local.query = {};\nbh.local.result = {}",
        "functionName": "sd_w1zZseXALO8ATi9T",
        "category": "Function",
        "x": 260,
        "y": 120,
        "wires": [
            [
                "sd_nnPtRTfPszlGfGdq"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true,
        "serviceName": "connectToDB"
    },
    {
        "id": "sd_jx5ceOQrg70zRwXv",
        "type": "HttpIn",
        "z": "SSD_SERVICE_ID_sd_bpnyOX6cbRmRVkRN",
        "viewType": "server",
        "nodeType": "start",
        "name": "",
        "path": "get-cat/:category",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "get",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "httpOptions": {
            "get-cat/:category": {
                "get": {
                    "summary": "",
                    "description": "",
                    "consumes": [],
                    "produces": [],
                    "parameters": [],
                    "responses": {}
                }
            }
        },
        "uploadFileOptions": {},
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "category": "HTTP",
        "x": 125,
        "y": 240,
        "wires": [
            [
                "sd_uK1kbDE8VtMkiYKl"
            ]
        ],
        "__ssdTypeInputs__": {
            "uploadpath": {
                "type": "str",
                "value": "",
                "nullable": "true",
                "nullableValue": "",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "connectToDB",
        "functionName": "sd_jx5ceOQrg70zRwXv"
    },
    {
        "id": "sd_SZBwnyLSBmuuUZdj",
        "type": "HttpOut",
        "z": "SSD_SERVICE_ID_sd_bpnyOX6cbRmRVkRN",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "headers": {},
        "responseBody": {
            "type": "bh.local",
            "value": "result",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "num",
            "value": 200,
            "ssd_typedInputField": true
        },
        "responseType": "obj",
        "responseMapping": {
            "status": 200,
            "obj": "bh.local.result",
            "send": "bh.local.result"
        },
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_SZBwnyLSBmuuUZdj",
        "category": "HTTP",
        "x": 425,
        "y": 240,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true,
        "serviceName": "connectToDB"
    },
    {
        "id": "sd_2Nc2Ry3c4qtmI6ke",
        "type": "Mongodb",
        "z": "SSD_SERVICE_ID_sd_bpnyOX6cbRmRVkRN",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "databaseConfig": "sd_JoUpTYPvdvSvR3fO",
        "collection": "bh.local.collection",
        "options": "",
        "resultMapping": "bh.local.result",
        "operation": "find",
        "argumentArray": [
            "query"
        ],
        "aggregate": "",
        "operations": "",
        "query": "bh.local.query",
        "fieldOrSpec": "",
        "filter": "",
        "key": "",
        "docId": "",
        "indexName": "",
        "replacement": "",
        "update": "",
        "xAxis": "",
        "yAxis": "",
        "indexes": "",
        "docs": "",
        "document": "",
        "newName": "",
        "doc": "",
        "filePath": "",
        "fileName": "",
        "pipeline": "",
        "functionName": "sd_2Nc2Ry3c4qtmI6ke",
        "category": "Storage",
        "x": 345,
        "y": 240,
        "wires": [
            [
                "sd_SZBwnyLSBmuuUZdj"
            ]
        ],
        "__ssdTypeInputs__": {
            "collection": {
                "type": "bh.local",
                "value": "collection",
                "constant": false
            },
            "options": {
                "type": "bh",
                "value": "",
                "nullable": "true",
                "constant": false
            },
            "resultMapping": {
                "type": "bh.local",
                "value": "result",
                "constant": false
            },
            "query": {
                "type": "bh.local",
                "value": "query",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_uK1kbDE8VtMkiYKl",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_bpnyOX6cbRmRVkRN",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local.collection = 'art';\nbh.local.query = {\n    \"cateory\" : bh.input.params.category\n};\nbh.local.result = {}\n\nconsole.log(bh.local)",
        "functionName": "sd_uK1kbDE8VtMkiYKl",
        "category": "Function",
        "x": 245,
        "y": 240,
        "wires": [
            [
                "sd_2Nc2Ry3c4qtmI6ke"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_ZXPigPLCF9YMY4jn",
        "type": "HttpIn",
        "z": "SSD_SERVICE_ID_sd_bpnyOX6cbRmRVkRN",
        "viewType": "server",
        "nodeType": "start",
        "name": "",
        "path": "post-data",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "post",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "httpOptions": {
            "post-data": {
                "post": {
                    "summary": "",
                    "description": "",
                    "consumes": [],
                    "produces": [],
                    "parameters": [],
                    "responses": {}
                }
            }
        },
        "uploadFileOptions": {},
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "category": "HTTP",
        "x": 123,
        "y": 370.8125,
        "wires": [
            [
                "sd_FVeqRu0aHGUzYyFi"
            ]
        ],
        "__ssdTypeInputs__": {
            "uploadpath": {
                "type": "str",
                "value": "",
                "nullable": "true",
                "nullableValue": "",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "connectToDB",
        "functionName": "sd_ZXPigPLCF9YMY4jn"
    },
    {
        "id": "sd_cc82ZEi7yQrOM1cD",
        "type": "HttpOut",
        "z": "SSD_SERVICE_ID_sd_bpnyOX6cbRmRVkRN",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "headers": {},
        "responseBody": {
            "type": "bh.local",
            "value": "result",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "num",
            "value": 200,
            "ssd_typedInputField": true
        },
        "responseType": "obj",
        "responseMapping": {
            "status": 200,
            "obj": "bh.local.result",
            "send": "bh.local.result"
        },
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_cc82ZEi7yQrOM1cD",
        "category": "HTTP",
        "x": 645,
        "y": 340,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_WbYmWaO5V1gfjbzC",
        "type": "Mongodb",
        "z": "SSD_SERVICE_ID_sd_bpnyOX6cbRmRVkRN",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "databaseConfig": "sd_JoUpTYPvdvSvR3fO",
        "collection": "bh.local.collection",
        "options": "",
        "resultMapping": "bh.local.result",
        "operation": "insertOne",
        "argumentArray": [
            "document"
        ],
        "aggregate": "",
        "operations": "",
        "query": "bh.local.query",
        "fieldOrSpec": "",
        "filter": "",
        "key": "",
        "docId": "",
        "indexName": "",
        "replacement": "",
        "update": "",
        "xAxis": "",
        "yAxis": "",
        "indexes": "",
        "docs": "",
        "document": "bh.input.body",
        "newName": "",
        "doc": "",
        "filePath": "",
        "fileName": "",
        "pipeline": "",
        "functionName": "sd_WbYmWaO5V1gfjbzC",
        "category": "Storage",
        "x": 545,
        "y": 340,
        "wires": [
            [
                "sd_cc82ZEi7yQrOM1cD"
            ]
        ],
        "__ssdTypeInputs__": {
            "collection": {
                "type": "bh.local",
                "value": "collection",
                "constant": false
            },
            "options": {
                "type": "bh",
                "value": "",
                "nullable": "true",
                "constant": false
            },
            "resultMapping": {
                "type": "bh.local",
                "value": "result",
                "constant": false
            },
            "query": {
                "type": "bh.local",
                "value": "query",
                "constant": false
            },
            "document": {
                "type": "bh.input",
                "value": "body",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_FVeqRu0aHGUzYyFi",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_bpnyOX6cbRmRVkRN",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local.collection = 'art';\nbh.query = {'artistName': bh.input.body['artistName']};",
        "functionName": "sd_FVeqRu0aHGUzYyFi",
        "category": "Function",
        "x": 243,
        "y": 370.8125,
        "wires": [
            [
                "sd_YQ0JehCQtdiRoWWp"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_j3S7H1eWawp80Kgc",
        "type": "HttpIn",
        "z": "SSD_SERVICE_ID_sd_bpnyOX6cbRmRVkRN",
        "viewType": "server",
        "nodeType": "start",
        "name": "",
        "path": "login/:username&:password",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "get",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "httpOptions": {
            "login/:username&:password": {
                "get": {
                    "summary": "",
                    "description": "",
                    "consumes": [],
                    "produces": [],
                    "parameters": [],
                    "responses": {}
                }
            }
        },
        "uploadFileOptions": {},
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "category": "HTTP",
        "x": 105,
        "y": 500,
        "wires": [
            [
                "sd_aWiSNemwlZQarBhS"
            ]
        ],
        "__ssdTypeInputs__": {
            "uploadpath": {
                "type": "str",
                "value": "",
                "nullable": "true",
                "nullableValue": "",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "connectToDB",
        "functionName": "sd_j3S7H1eWawp80Kgc"
    },
    {
        "id": "sd_WnZ5ucnbtn154Zgs",
        "type": "HttpOut",
        "z": "SSD_SERVICE_ID_sd_bpnyOX6cbRmRVkRN",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "headers": {},
        "responseBody": {
            "type": "bh.local",
            "value": "result",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "num",
            "value": 200,
            "ssd_typedInputField": true
        },
        "responseType": "obj",
        "responseMapping": {
            "status": 200,
            "obj": "bh.local.result",
            "send": "bh.local.result"
        },
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_WnZ5ucnbtn154Zgs",
        "category": "HTTP",
        "x": 405,
        "y": 500,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_6uRSnbVoa5QXP5Pj",
        "type": "Mongodb",
        "z": "SSD_SERVICE_ID_sd_bpnyOX6cbRmRVkRN",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "databaseConfig": "sd_JoUpTYPvdvSvR3fO",
        "collection": "bh.local.collection",
        "options": "",
        "resultMapping": "bh.local.result",
        "operation": "find",
        "argumentArray": [
            "query"
        ],
        "aggregate": "",
        "operations": "",
        "query": "bh.local.query",
        "fieldOrSpec": "",
        "filter": "",
        "key": "",
        "docId": "",
        "indexName": "",
        "replacement": "",
        "update": "",
        "xAxis": "",
        "yAxis": "",
        "indexes": "",
        "docs": "",
        "document": "",
        "newName": "",
        "doc": "",
        "filePath": "",
        "fileName": "",
        "pipeline": "",
        "functionName": "sd_6uRSnbVoa5QXP5Pj",
        "category": "Storage",
        "x": 325,
        "y": 500,
        "wires": [
            [
                "sd_WnZ5ucnbtn154Zgs"
            ]
        ],
        "__ssdTypeInputs__": {
            "collection": {
                "type": "bh.local",
                "value": "collection",
                "constant": false
            },
            "options": {
                "type": "bh",
                "value": "",
                "nullable": "true",
                "constant": false
            },
            "resultMapping": {
                "type": "bh.local",
                "value": "result",
                "constant": false
            },
            "query": {
                "type": "bh.local",
                "value": "query",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_aWiSNemwlZQarBhS",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_bpnyOX6cbRmRVkRN",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local.collection = 'users';\nbh.local.query = {\n    \"email\" : bh.input.params.username,\n    \"password\": bh.input.params.password\n};\nbh.local.result = {}\n\nconsole.log(bh.local)",
        "functionName": "sd_aWiSNemwlZQarBhS",
        "category": "Function",
        "x": 225,
        "y": 500,
        "wires": [
            [
                "sd_6uRSnbVoa5QXP5Pj"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_RIu7KdT0DUAcv9Lc",
        "type": "HttpIn",
        "z": "SSD_SERVICE_ID_sd_bpnyOX6cbRmRVkRN",
        "viewType": "server",
        "nodeType": "start",
        "name": "",
        "path": "post-event",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "post",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "httpOptions": {
            "post-event": {
                "post": {
                    "summary": "",
                    "description": "",
                    "consumes": [],
                    "produces": [],
                    "parameters": [],
                    "responses": {}
                }
            }
        },
        "uploadFileOptions": {},
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "category": "HTTP",
        "x": 145,
        "y": 620,
        "wires": [
            [
                "sd_hXHK2Db7tJ6GXtKN"
            ]
        ],
        "__ssdTypeInputs__": {
            "uploadpath": {
                "type": "str",
                "value": "",
                "nullable": "true",
                "nullableValue": "",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "connectToDB",
        "functionName": "sd_RIu7KdT0DUAcv9Lc"
    },
    {
        "id": "sd_fESMRU3GGcyH3Cke",
        "type": "HttpOut",
        "z": "SSD_SERVICE_ID_sd_bpnyOX6cbRmRVkRN",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "headers": {},
        "responseBody": {
            "type": "literal",
            "value": "{message: \"Event added successfully\"}",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "num",
            "value": 200,
            "ssd_typedInputField": true
        },
        "responseType": "obj",
        "responseMapping": {
            "status": 200,
            "obj": "{message: \"Event added successfully\"}",
            "send": "{message: \"Event added successfully\"}"
        },
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_fESMRU3GGcyH3Cke",
        "category": "HTTP",
        "x": 445,
        "y": 620,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_NIEykNI3wF92btgK",
        "type": "Mongodb",
        "z": "SSD_SERVICE_ID_sd_bpnyOX6cbRmRVkRN",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "databaseConfig": "sd_JoUpTYPvdvSvR3fO",
        "collection": "bh.collection",
        "options": "",
        "resultMapping": "bh.local.result",
        "operation": "insertOne",
        "argumentArray": [
            "document"
        ],
        "aggregate": "",
        "operations": "",
        "query": "bh.local.query",
        "fieldOrSpec": "",
        "filter": "",
        "key": "",
        "docId": "",
        "indexName": "",
        "replacement": "",
        "update": "",
        "xAxis": "",
        "yAxis": "",
        "indexes": "",
        "docs": "",
        "document": "bh.input.body",
        "newName": "",
        "doc": "",
        "filePath": "",
        "fileName": "",
        "pipeline": "",
        "functionName": "sd_NIEykNI3wF92btgK",
        "category": "Storage",
        "x": 365,
        "y": 620,
        "wires": [
            [
                "sd_fESMRU3GGcyH3Cke"
            ]
        ],
        "__ssdTypeInputs__": {
            "collection": {
                "type": "bh",
                "value": "collection",
                "constant": false
            },
            "options": {
                "type": "bh",
                "value": "",
                "nullable": "true",
                "constant": false
            },
            "resultMapping": {
                "type": "bh.local",
                "value": "result",
                "constant": false
            },
            "query": {
                "type": "bh.local",
                "value": "query",
                "constant": false
            },
            "document": {
                "type": "bh.input",
                "value": "body",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_hXHK2Db7tJ6GXtKN",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_bpnyOX6cbRmRVkRN",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.collection = 'events';",
        "functionName": "sd_hXHK2Db7tJ6GXtKN",
        "category": "Function",
        "x": 265,
        "y": 620,
        "wires": [
            [
                "sd_NIEykNI3wF92btgK"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_xC3GJhXbeWykYMLN",
        "type": "HttpIn",
        "z": "SSD_SERVICE_ID_sd_bpnyOX6cbRmRVkRN",
        "viewType": "server",
        "nodeType": "start",
        "name": "",
        "path": "get-all-events",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "get",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "httpOptions": {
            "get-all-events": {
                "get": {
                    "summary": "",
                    "description": "",
                    "consumes": [],
                    "produces": [],
                    "parameters": [],
                    "responses": {}
                }
            }
        },
        "uploadFileOptions": {},
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "category": "HTTP",
        "x": 125,
        "y": 760,
        "wires": [
            [
                "sd_To3WuMqiEOJZykoT"
            ]
        ],
        "__ssdTypeInputs__": {
            "uploadpath": {
                "type": "str",
                "value": "",
                "nullable": "true",
                "nullableValue": "",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "connectToDB",
        "functionName": "sd_xC3GJhXbeWykYMLN"
    },
    {
        "id": "sd_SQvf7qqQxfO8IUPA",
        "type": "HttpOut",
        "z": "SSD_SERVICE_ID_sd_bpnyOX6cbRmRVkRN",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "headers": {},
        "responseBody": {
            "type": "bh.local",
            "value": "events",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "num",
            "value": 200,
            "ssd_typedInputField": true
        },
        "responseType": "obj",
        "responseMapping": {
            "status": 200,
            "obj": "bh.local.events",
            "send": "bh.local.events"
        },
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_SQvf7qqQxfO8IUPA",
        "category": "HTTP",
        "x": 425,
        "y": 760,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_eOFPLs3ByRXPRKBf",
        "type": "Mongodb",
        "z": "SSD_SERVICE_ID_sd_bpnyOX6cbRmRVkRN",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "databaseConfig": "sd_JoUpTYPvdvSvR3fO",
        "collection": "bh.local.collection",
        "options": "",
        "resultMapping": "bh.local.events",
        "operation": "find",
        "argumentArray": [
            "query"
        ],
        "aggregate": "",
        "operations": "",
        "query": "bh.local.query",
        "fieldOrSpec": "",
        "filter": "",
        "key": "",
        "docId": "",
        "indexName": "",
        "replacement": "",
        "update": "",
        "xAxis": "",
        "yAxis": "",
        "indexes": "",
        "docs": "",
        "document": "",
        "newName": "",
        "doc": "",
        "filePath": "",
        "fileName": "",
        "pipeline": "",
        "functionName": "sd_eOFPLs3ByRXPRKBf",
        "category": "Storage",
        "x": 345,
        "y": 760,
        "wires": [
            [
                "sd_SQvf7qqQxfO8IUPA"
            ]
        ],
        "__ssdTypeInputs__": {
            "collection": {
                "type": "bh.local",
                "value": "collection",
                "constant": false
            },
            "options": {
                "type": "bh",
                "value": "",
                "nullable": "true",
                "constant": false
            },
            "resultMapping": {
                "type": "bh.local",
                "value": "events",
                "constant": false
            },
            "query": {
                "type": "bh.local",
                "value": "query",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_To3WuMqiEOJZykoT",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_bpnyOX6cbRmRVkRN",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local.collection = 'events';",
        "functionName": "sd_To3WuMqiEOJZykoT",
        "category": "Function",
        "x": 245,
        "y": 760,
        "wires": [
            [
                "sd_eOFPLs3ByRXPRKBf"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_ADuicT24eyMEiDQL",
        "type": "HttpIn",
        "z": "SSD_SERVICE_ID_sd_bpnyOX6cbRmRVkRN",
        "viewType": "server",
        "nodeType": "start",
        "name": "",
        "path": "/rate-art",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "put",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "httpOptions": {
            "/rate-art": {
                "put": {
                    "summary": "",
                    "description": "",
                    "consumes": [],
                    "produces": [],
                    "parameters": [],
                    "responses": {}
                }
            }
        },
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "category": "HTTP",
        "x": 125,
        "y": 860,
        "wires": [
            [
                "sd_tuJvqbryFSjphjWH"
            ]
        ],
        "__ssdTypeInputs__": {
            "uploadpath": {
                "type": "str",
                "value": "",
                "nullable": "true",
                "nullableValue": "",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "connectToDB",
        "functionName": "sd_ADuicT24eyMEiDQL"
    },
    {
        "id": "sd_3QItPJRZqLlVUREG",
        "type": "HttpOut",
        "z": "SSD_SERVICE_ID_sd_bpnyOX6cbRmRVkRN",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "headers": {},
        "responseBody": {
            "type": "literal",
            "value": "{message: \"Art updated successfully\"}",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "num",
            "value": 200,
            "ssd_typedInputField": true
        },
        "responseType": "obj",
        "responseMapping": {
            "status": 200,
            "obj": "{message: \"Art updated successfully\"}",
            "send": "{message: \"Art updated successfully\"}"
        },
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_3QItPJRZqLlVUREG",
        "category": "HTTP",
        "x": 445,
        "y": 860,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_CwAjNTeGI2m4JTDU",
        "type": "Mongodb",
        "z": "SSD_SERVICE_ID_sd_bpnyOX6cbRmRVkRN",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "databaseConfig": "sd_JoUpTYPvdvSvR3fO",
        "collection": "bh.collection",
        "options": "",
        "resultMapping": "bh.local.result",
        "operation": "findOneAndUpdate",
        "argumentArray": [
            "filter",
            "update"
        ],
        "aggregate": "",
        "operations": "",
        "query": "bh.filter",
        "fieldOrSpec": "",
        "filter": "bh.filter",
        "key": "",
        "docId": "",
        "indexName": "",
        "replacement": "",
        "update": "bh.input.body",
        "xAxis": "",
        "yAxis": "",
        "indexes": "",
        "docs": "",
        "document": "bh.input.body",
        "newName": "",
        "doc": "bh.input.body",
        "filePath": "",
        "fileName": "",
        "pipeline": "",
        "functionName": "sd_CwAjNTeGI2m4JTDU",
        "category": "Storage",
        "x": 345,
        "y": 860,
        "wires": [
            [
                "sd_3QItPJRZqLlVUREG"
            ]
        ],
        "__ssdTypeInputs__": {
            "collection": {
                "type": "bh",
                "value": "collection",
                "constant": false
            },
            "options": {
                "type": "bh",
                "value": "",
                "nullable": "true",
                "constant": false
            },
            "resultMapping": {
                "type": "bh.local",
                "value": "result",
                "constant": false
            },
            "query": {
                "type": "bh",
                "value": "filter",
                "constant": false
            },
            "document": {
                "type": "bh.input",
                "value": "body",
                "constant": false
            },
            "filter": {
                "type": "bh",
                "value": "filter",
                "constant": false
            },
            "update": {
                "type": "bh.input",
                "value": "body",
                "constant": false
            },
            "doc": {
                "type": "bh.input",
                "value": "body",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_tuJvqbryFSjphjWH",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_bpnyOX6cbRmRVkRN",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.collection = 'art';\nbh.filter = {'artistName': bh.input.body['artistName']};\n\ndelete bh.input.body['_id'];\nbh.input.body = { $set: { \"rate\": bh.input.body['rate'] } }",
        "functionName": "sd_tuJvqbryFSjphjWH",
        "category": "Function",
        "x": 245,
        "y": 860,
        "wires": [
            [
                "sd_CwAjNTeGI2m4JTDU"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_YQ0JehCQtdiRoWWp",
        "type": "Mongodb",
        "z": "SSD_SERVICE_ID_sd_bpnyOX6cbRmRVkRN",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "databaseConfig": "sd_JoUpTYPvdvSvR3fO",
        "collection": "bh.local.collection",
        "options": "",
        "resultMapping": "bh.foundArt",
        "operation": "find",
        "argumentArray": [
            "query"
        ],
        "aggregate": "",
        "operations": "",
        "query": "bh.query",
        "fieldOrSpec": "",
        "filter": "",
        "key": "",
        "docId": "",
        "indexName": "",
        "replacement": "",
        "update": "",
        "xAxis": "",
        "yAxis": "",
        "indexes": "",
        "docs": "",
        "document": "bh.input.body",
        "newName": "",
        "doc": "",
        "filePath": "",
        "fileName": "",
        "pipeline": "",
        "functionName": "sd_YQ0JehCQtdiRoWWp",
        "category": "Storage",
        "x": 345,
        "y": 380,
        "wires": [
            [
                "sd_nl5KmrRgbUiopKTr"
            ]
        ],
        "__ssdTypeInputs__": {
            "collection": {
                "type": "bh.local",
                "value": "collection",
                "constant": false
            },
            "options": {
                "type": "bh",
                "value": "",
                "nullable": "true",
                "constant": false
            },
            "resultMapping": {
                "type": "bh",
                "value": "foundArt",
                "constant": false
            },
            "query": {
                "type": "bh",
                "value": "query",
                "constant": false
            },
            "document": {
                "type": "bh.input",
                "value": "body",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_nl5KmrRgbUiopKTr",
        "type": "Switch",
        "z": "SSD_SERVICE_ID_sd_bpnyOX6cbRmRVkRN",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "foundArt.length",
        "propertyType": "bh",
        "propertyGv": "bh.foundArt.length",
        "rules": [
            {
                "t": "lt",
                "v": "1",
                "vt": "num",
                "gv": "1"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_nl5KmrRgbUiopKTr",
        "category": "Function",
        "x": 445,
        "y": 380,
        "wires": [
            [
                "sd_WbYmWaO5V1gfjbzC"
            ],
            [
                "sd_8jcrbzHTvbUD4Iv8"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_8jcrbzHTvbUD4Iv8",
        "type": "HttpOut",
        "z": "SSD_SERVICE_ID_sd_bpnyOX6cbRmRVkRN",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "headers": {},
        "responseBody": {
            "type": "literal",
            "value": "{message: 'Artist Name already exists'}",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "num",
            "value": 300,
            "ssd_typedInputField": true
        },
        "responseType": "obj",
        "responseMapping": {
            "status": 300,
            "obj": "{message: 'Artist Name already exists'}",
            "send": "{message: 'Artist Name already exists'}"
        },
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_8jcrbzHTvbUD4Iv8",
        "category": "HTTP",
        "x": 545,
        "y": 420,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    }
]
