designs/pages/home/artists.json
[
    {
        "id": "sd_GneklMwR3AaiHFr1",
        "type": "tab",
        "createdDate": "2022-07-21T03:59:12.726Z",
        "label": "artists",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "artistsComponent"
    },
    {
        "id": "sd_2SVflhMtizgk2h0N",
        "type": "OnInit",
        "z": "sd_GneklMwR3AaiHFr1",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "sd_2SVflhMtizgk2h0N",
        "category": "Lifecycle Events",
        "x": 30,
        "y": 30,
        "wires": [
            [
                "sd_7vgsKxSAvkQpW2r2"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "artistsComponent"
    },
    {
        "id": "sd_7vgsKxSAvkQpW2r2",
        "type": "PageVariables",
        "z": "sd_GneklMwR3AaiHFr1",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [],
        "functionName": "sd_7vgsKxSAvkQpW2r2",
        "category": "Function",
        "x": 180,
        "y": 30,
        "wires": [
            [
                "sd_ygiJ8NbRnUCRXOXN"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_t8PQJdO8AxPS6KYH",
        "type": "PageCallService",
        "z": "sd_GneklMwR3AaiHFr1",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_fSGlHyApcayt5tky",
            "type": "tab",
            "createdDate": "2022-07-20T13:20:26.916Z",
            "label": "connectToDB",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_wWLt0L5xLxnb37WB",
            "flowName": "getAllArtists"
        },
        "inputVariables": [
            {
                "key": "artist",
                "map": true,
                "valueType": "this.page",
                "value": "arr"
            }
        ],
        "outputMapping": [],
        "serviceImportPath": "app/sd-services/connectToDB",
        "startName": "getAllArtists",
        "inputParams": [
            "this.page.arr"
        ],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "sd_t8PQJdO8AxPS6KYH",
        "category": "General",
        "x": 505,
        "y": 80,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true
    },
    {
        "id": "sd_ygiJ8NbRnUCRXOXN",
        "type": "UseDependency",
        "z": "sd_GneklMwR3AaiHFr1",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "NgxStarRatingModule",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            }
        ],
        "import_all": false,
        "library": "ngx-star-rating",
        "serviceDesignerType": "pages",
        "functionName": "sd_ygiJ8NbRnUCRXOXN",
        "category": "Function",
        "x": 265,
        "y": 40,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    }
]
