designs/pages/home/artists.json
[
    {
        "id": "sd_GneklMwR3AaiHFr1",
        "type": "tab",
        "createdDate": "2022-07-21T03:59:12.726Z",
        "label": "artists",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "artistsComponent"
    },
    {
        "id": "sd_2SVflhMtizgk2h0N",
        "type": "OnInit",
        "z": "sd_GneklMwR3AaiHFr1",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "sd_2SVflhMtizgk2h0N",
        "category": "Lifecycle Events",
        "x": 45,
        "y": 60,
        "wires": [
            [
                "sd_7vgsKxSAvkQpW2r2"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "artistsComponent"
    },
    {
        "id": "sd_7vgsKxSAvkQpW2r2",
        "type": "PageVariables",
        "z": "sd_GneklMwR3AaiHFr1",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "rating3",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "form",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "rating",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                }
            }
        ],
        "functionName": "sd_7vgsKxSAvkQpW2r2",
        "category": "Function",
        "x": 165,
        "y": 60,
        "wires": [
            [
                "sd_ygiJ8NbRnUCRXOXN"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_t8PQJdO8AxPS6KYH",
        "type": "PageCallService",
        "z": "sd_GneklMwR3AaiHFr1",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_fSGlHyApcayt5tky",
            "type": "tab",
            "createdDate": "2022-07-20T13:20:26.916Z",
            "label": "connectToDB",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_wWLt0L5xLxnb37WB",
            "flowName": "getAllArtists"
        },
        "inputVariables": [
            {
                "key": "artist",
                "map": true,
                "valueType": "this.page",
                "value": "arr"
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "local",
                "key": "client_result",
                "valueType": "bh",
                "value": "",
                "mapVarName": "client_result"
            }
        ],
        "serviceImportPath": "app/sd-services/connectToDB",
        "startName": "getAllArtists",
        "inputParams": [
            "this.page.arr"
        ],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "sd_t8PQJdO8AxPS6KYH",
        "category": "General",
        "x": 345,
        "y": 240,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true
    },
    {
        "id": "sd_ygiJ8NbRnUCRXOXN",
        "type": "UseDependency",
        "z": "sd_GneklMwR3AaiHFr1",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "NgxStarRatingModule",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            }
        ],
        "import_all": false,
        "library": "ngx-star-rating",
        "serviceDesignerType": "pages",
        "functionName": "sd_ygiJ8NbRnUCRXOXN",
        "category": "Function",
        "x": 285,
        "y": 60,
        "wires": [
            [
                "sd_fHCzXenQL5WRE6SA"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_CmbqSJ43WDrRO0hX",
        "type": "Script",
        "z": "sd_GneklMwR3AaiHFr1",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.rating3 = 0;\n    page.form = page.fb.group({\n      rating: ['', Validators.required],\n    })\n  \n\n\n",
        "functionName": "sd_CmbqSJ43WDrRO0hX",
        "category": "Function",
        "x": 645,
        "y": 60,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_fHCzXenQL5WRE6SA",
        "type": "UseDependency",
        "z": "sd_GneklMwR3AaiHFr1",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "NgxStarRatingModule",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            }
        ],
        "import_all": false,
        "library": "ngx-star-rating",
        "serviceDesignerType": "pages",
        "functionName": "sd_fHCzXenQL5WRE6SA",
        "category": "Function",
        "x": 405,
        "y": 60,
        "wires": [
            [
                "sd_GTUERVfTdX34Gy3I"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_GTUERVfTdX34Gy3I",
        "type": "UseDependency",
        "z": "sd_GneklMwR3AaiHFr1",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "ReactiveFormsModule",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "FormsModule",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "FormBuilder",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "fb"
                },
                "injectable": true
            },
            {
                "textIp": "FormGroup",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "Validators",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            }
        ],
        "import_all": false,
        "library": "@angular/forms",
        "serviceDesignerType": "pages",
        "functionName": "sd_GTUERVfTdX34Gy3I",
        "category": "Function",
        "x": 525,
        "y": 60,
        "wires": [
            [
                "sd_CmbqSJ43WDrRO0hX"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    }
]
