designs/pages/home/dialogeArtInfo.json
[
    {
        "id": "sd_paB43yE3391tmHyp",
        "type": "tab",
        "createdDate": "2022-07-21T07:02:42.344Z",
        "label": "dialogeArtInfo",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "dialogeArtInfoComponent"
    },
    {
        "id": "sd_rJR1L9BGisavMuGt",
        "type": "OnInit",
        "z": "sd_paB43yE3391tmHyp",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "sd_rJR1L9BGisavMuGt",
        "category": "Lifecycle Events",
        "x": 45,
        "y": 40,
        "wires": [
            [
                "sd_yz7SH8jM6r0Bf8HV",
                "sd_yJKnIXkjEABpguFr"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "dialogeArtInfoComponent"
    },
    {
        "id": "sd_yz7SH8jM6r0Bf8HV",
        "type": "PageVariables",
        "z": "sd_paB43yE3391tmHyp",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "data",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            }
        ],
        "functionName": "sd_yz7SH8jM6r0Bf8HV",
        "category": "Function",
        "x": 185,
        "y": 40,
        "wires": [
            [
                "sd_4hcGUYz8iOIaRB26"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_Ry5Sr4zqJsYNOtns",
        "type": "Script",
        "z": "sd_paB43yE3391tmHyp",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log(page.data.artwork)",
        "functionName": "sd_Ry5Sr4zqJsYNOtns",
        "category": "Function",
        "x": 425,
        "y": 40,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_4hcGUYz8iOIaRB26",
        "type": "GetDialogData",
        "z": "sd_paB43yE3391tmHyp",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "dialogDataMapping": "this.page.data",
        "functionName": "sd_4hcGUYz8iOIaRB26",
        "category": "Dialog",
        "x": 305,
        "y": 40,
        "wires": [
            [
                "sd_Ry5Sr4zqJsYNOtns"
            ]
        ],
        "__ssdTypeInputs__": {
            "dialogDataMapping": {
                "type": "this.page",
                "value": "data",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_yJKnIXkjEABpguFr",
        "type": "UseDependency",
        "z": "sd_paB43yE3391tmHyp",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "MatDialogModule",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "MatDialogRef",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "dialogRef"
                },
                "injectable": true
            }
        ],
        "import_all": false,
        "library": "@angular/material/dialog",
        "serviceDesignerType": "pages",
        "functionName": "sd_yJKnIXkjEABpguFr",
        "category": "Function",
        "x": 205,
        "y": 140,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_uAMCRnCUFzmwVIsn",
        "type": "PageStart",
        "z": "sd_paB43yE3391tmHyp",
        "viewType": "pages",
        "nodeType": "start",
        "name": "back",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "back",
        "category": "General",
        "x": 85,
        "y": 300,
        "wires": [
            [
                "sd_Mf6byvq1LjnC6Sok"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "dialogeArtInfoComponent"
    },
    {
        "id": "sd_Mf6byvq1LjnC6Sok",
        "type": "Script",
        "z": "sd_paB43yE3391tmHyp",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.dialogRef.close();",
        "functionName": "sd_Mf6byvq1LjnC6Sok",
        "category": "Function",
        "x": 220,
        "y": 320,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    }
]
