designs/pages/home/displaypae.json
[
    {
        "id": "sd_WR6iyBIOiJbrUCez",
        "type": "tab",
        "createdDate": "2022-07-20T07:36:18.867Z",
        "label": "displaypae",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "displaypaeComponent"
    },
    {
        "id": "sd_RKoFE1xyxOHPHjVP",
        "type": "OnInit",
        "z": "sd_WR6iyBIOiJbrUCez",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "sd_RKoFE1xyxOHPHjVP",
        "category": "Lifecycle Events",
        "x": 45,
        "y": 40,
        "wires": [
            [
                "sd_z9wGYVVpDzrC0kyZ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "displaypaeComponent"
    },
    {
        "id": "sd_z9wGYVVpDzrC0kyZ",
        "type": "PageVariables",
        "z": "sd_WR6iyBIOiJbrUCez",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "option",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "data",
                "typedIpValue": {
                    "type": "literal",
                    "value": "{}"
                }
            }
        ],
        "functionName": "sd_z9wGYVVpDzrC0kyZ",
        "category": "Function",
        "x": 185,
        "y": 40,
        "wires": [
            [
                "sd_29RWlEm8s11shTfl"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true,
        "serviceName": "displaypaeComponent"
    },
    {
        "id": "sd_29RWlEm8s11shTfl",
        "type": "Script",
        "z": "sd_WR6iyBIOiJbrUCez",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.option =[\"neo\",\"mbali\"];",
        "functionName": "sd_29RWlEm8s11shTfl",
        "category": "Function",
        "x": 320,
        "y": 40,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_jii6SjVAtzvgiPym",
        "type": "PageStart",
        "z": "sd_WR6iyBIOiJbrUCez",
        "viewType": "pages",
        "nodeType": "start",
        "name": "Find category",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "textToSearch",
                "defaultValue": {
                    "type": "str",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "findCategory",
        "category": "General",
        "x": 45,
        "y": 140,
        "wires": [
            [
                "sd_tQYINEmFP9jjaYpe"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "displaypaeComponent"
    },
    {
        "id": "sd_SSYkbQIk6gYHuRYU",
        "type": "Navigation",
        "z": "sd_WR6iyBIOiJbrUCez",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "path": "/home/category/:searchString",
        "pathparams": [
            {
                "paramKey": "searchString",
                "paramValue": {
                    "type": "bh.input",
                    "value": "textToSearch"
                }
            }
        ],
        "functionName": "sd_SSYkbQIk6gYHuRYU",
        "category": "Navigation",
        "x": 665,
        "y": 120,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_Gvav1Gt6vl9XDD1s",
        "type": "PageStart",
        "z": "sd_WR6iyBIOiJbrUCez",
        "viewType": "pages",
        "nodeType": "start",
        "name": "Get artsits",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "searchAll",
                "defaultValue": {
                    "type": "str",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "getArtsits",
        "category": "General",
        "x": 85,
        "y": 340,
        "wires": [
            [
                "sd_oHjBpUwDqpb8cnYe"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "displaypaeComponent"
    },
    {
        "id": "sd_oHjBpUwDqpb8cnYe",
        "type": "PageCallService",
        "z": "sd_WR6iyBIOiJbrUCez",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_fSGlHyApcayt5tky",
            "type": "tab",
            "createdDate": "2022-07-20T13:20:26.916Z",
            "label": "connectToDB",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_wWLt0L5xLxnb37WB",
            "flowName": "getAllArtists"
        },
        "inputVariables": [
            {
                "key": "artist",
                "map": true,
                "valueType": "bh.input",
                "value": "searchAll"
            }
        ],
        "outputMapping": [],
        "serviceImportPath": "app/sd-services/connectToDB",
        "startName": "getAllArtists",
        "inputParams": [
            "bh.input.searchAll"
        ],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "sd_oHjBpUwDqpb8cnYe",
        "category": "General",
        "x": 165,
        "y": 340,
        "wires": [
            [
                "sd_XswfYwdTbtXTb1jR"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_XswfYwdTbtXTb1jR",
        "type": "Script",
        "z": "sd_WR6iyBIOiJbrUCez",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log('response',page)",
        "functionName": "sd_XswfYwdTbtXTb1jR",
        "category": "Function",
        "x": 285,
        "y": 340,
        "wires": [
            [
                "sd_ZAG28HL0hfZp3dP2"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_ZAG28HL0hfZp3dP2",
        "type": "Navigation",
        "z": "sd_WR6iyBIOiJbrUCez",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "path": "/home/artwork",
        "functionName": "sd_ZAG28HL0hfZp3dP2",
        "category": "Navigation",
        "x": 425,
        "y": 340,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_tQYINEmFP9jjaYpe",
        "type": "PageSwitch",
        "z": "sd_WR6iyBIOiJbrUCez",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "textToSearch",
        "propertyType": "bh.input",
        "propertyGv": "bh.input.textToSearch",
        "rules": [
            {
                "t": "empty"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_tQYINEmFP9jjaYpe",
        "category": "Function",
        "x": 205,
        "y": 140,
        "wires": [
            [
                "sd_q13TuxAzpkjKETVJ"
            ],
            [
                "sd_vRlAVbVTlEP443fJ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_q13TuxAzpkjKETVJ",
        "type": "SnackBar",
        "z": "sd_WR6iyBIOiJbrUCez",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "unavailable request"
        },
        "action": {
            "type": "str",
            "value": ""
        },
        "duration": {
            "type": "num",
            "value": ""
        },
        "horizontalPosition": "center",
        "verticalPosition": "bottom",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_q13TuxAzpkjKETVJ",
        "category": "General",
        "x": 385,
        "y": 80,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_vRlAVbVTlEP443fJ",
        "type": "PageCallService",
        "z": "sd_WR6iyBIOiJbrUCez",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_fSGlHyApcayt5tky",
            "type": "tab",
            "createdDate": "2022-07-20T13:20:26.916Z",
            "label": "connectToDB",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_yAnCQFNnDv9epwv0",
            "flowName": "getCategory"
        },
        "inputVariables": [
            {
                "key": "category",
                "map": true,
                "valueType": "bh.input",
                "value": "textToSearch"
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "local",
                "key": "client_result",
                "valueType": "bh.input",
                "value": "artistsByCategory",
                "mapVarName": "client_result",
                "localVar": "bh.input.artistsByCategory"
            }
        ],
        "serviceImportPath": "app/sd-services/connectToDB",
        "startName": "getCategory",
        "inputParams": [
            "bh.input.textToSearch"
        ],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "sd_vRlAVbVTlEP443fJ",
        "category": "General",
        "x": 465,
        "y": 120,
        "wires": [
            [
                "sd_SSYkbQIk6gYHuRYU"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    }
]
