designs/pages/home/events.json
[
    {
        "id": "sd_JxSvVx3XTPpAclhp",
        "type": "tab",
        "createdDate": "2022-07-23T16:48:22.444Z",
        "label": "events",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "eventsComponent"
    },
    {
        "id": "sd_t7JqvqYBQ1jY3ouY",
        "type": "OnInit",
        "z": "sd_JxSvVx3XTPpAclhp",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "sd_t7JqvqYBQ1jY3ouY",
        "category": "Lifecycle Events",
        "x": 105,
        "y": 100,
        "wires": [
            [
                "sd_H5PnXfZdEzINvowk"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "eventsComponent"
    },
    {
        "id": "sd_H5PnXfZdEzINvowk",
        "type": "PageVariables",
        "z": "sd_JxSvVx3XTPpAclhp",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "address",
                "typedIpValue": {
                    "type": "literal",
                    "value": "{}"
                }
            },
            {
                "textIp": "mapURL",
                "typedIpValue": {
                    "type": "str",
                    "value": ""
                }
            },
            {
                "textIp": "events",
                "typedIpValue": {
                    "type": "literal",
                    "value": "[]"
                }
            }
        ],
        "functionName": "sd_H5PnXfZdEzINvowk",
        "category": "Function",
        "x": 225,
        "y": 100,
        "wires": [
            [
                "sd_T8PQs0cdECEDNWeE"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_1cLZuSQX2AjzHqEG",
        "type": "PageStart",
        "z": "sd_JxSvVx3XTPpAclhp",
        "viewType": "pages",
        "nodeType": "start",
        "name": "show location",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "showLocation",
        "category": "General",
        "x": 105,
        "y": 200,
        "wires": [
            [
                "sd_b0Ii2eB72AZKfp5C"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "eventsComponent"
    },
    {
        "id": "sd_b0Ii2eB72AZKfp5C",
        "type": "Script",
        "z": "sd_JxSvVx3XTPpAclhp",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "// page.address = {\n//     street: \"Brookline\",\n//     num: \"123\",\n//     city: \"NewYork\"\n//   };\n//   page.mapsURL = `https://maps.google.com/maps?q=${page.address.street}%20${page.address.num}%20%${page.address.city}&t=&z=20&ie=UTF8&iwloc=&output=embed`;\n",
        "functionName": "sd_b0Ii2eB72AZKfp5C",
        "category": "Function",
        "x": 225,
        "y": 200,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_T8PQs0cdECEDNWeE",
        "type": "PageCallService",
        "z": "sd_JxSvVx3XTPpAclhp",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_JxSvVx3XTPpAclhp",
            "type": "tab",
            "createdDate": "2022-07-23T16:48:22.444Z",
            "label": "events",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_1cLZuSQX2AjzHqEG",
            "flowName": "showLocation"
        },
        "inputVariables": [],
        "outputMapping": [],
        "serviceImportPath": "./events",
        "startName": "showLocation",
        "inputParams": [],
        "accept_csd": false,
        "functionName": "sd_T8PQs0cdECEDNWeE",
        "category": "General",
        "x": 345,
        "y": 100,
        "wires": [
            [
                "sd_V8fmy2oQGNI3ctBJ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_V8fmy2oQGNI3ctBJ",
        "type": "PageCallService",
        "z": "sd_JxSvVx3XTPpAclhp",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "get events",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_fSGlHyApcayt5tky",
            "type": "tab",
            "createdDate": "2022-07-20T13:20:26.916Z",
            "label": "connectToDB",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_GyvxnvddVjOUkUGY",
            "flowName": "getAllEvents"
        },
        "inputVariables": [],
        "outputMapping": [
            {
                "mapVarType": "local",
                "key": "events",
                "valueType": "this.page",
                "value": "events",
                "mapVarName": "events",
                "localVar": "this.page.events"
            }
        ],
        "serviceImportPath": "app/sd-services/connectToDB",
        "startName": "getAllEvents",
        "inputParams": [],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "getEvents",
        "category": "General",
        "x": 445,
        "y": 100,
        "wires": [
            [
                "sd_7clM157FlVIvV0nY"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_ugNriIHmhQooU2wC",
        "type": "Script",
        "z": "sd_JxSvVx3XTPpAclhp",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "// page.events.forEach(item => item['videoUrl'] = `https://www.youtube.com/embed/PuDB4KwGhHA/${item['video' ]}`)\npage.events.forEach(item => item['videoUrl'] =page.dom.bypassSecurityTrustResourceUrl(`https://www.youtube.com/embed/PuDB4KwGhHA/${item['video' ]}`))",
        "functionName": "sd_ugNriIHmhQooU2wC",
        "category": "Function",
        "x": 705,
        "y": 100,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_7clM157FlVIvV0nY",
        "type": "UseDependency",
        "z": "sd_JxSvVx3XTPpAclhp",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "DomSanitizer",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "dom"
                },
                "injectable": true
            }
        ],
        "import_all": false,
        "library": "@angular/platform-browser",
        "serviceDesignerType": "pages",
        "functionName": "sd_7clM157FlVIvV0nY",
        "category": "Function",
        "x": 545,
        "y": 100,
        "wires": [
            [
                "sd_ugNriIHmhQooU2wC"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    }
]
